@page
@model MegaDesk_Razor.Pages.Quotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <div class="table-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayName("Customer Name")</th>
                    <td>@Html.DisplayFor(model => model.Quote.CustomerName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayName("Delivery")</th>
                    <td>@Html.DisplayFor(model => model.Quote.DeliveryType.Type)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Quote.Width)</th>
                    <td>@Html.DisplayFor(model => model.Quote.Width)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Quote.Depth)</th>
                    <td>@Html.DisplayFor(model => model.Quote.Depth)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayName("Drawer")</th>
                    <td>@Html.DisplayFor(model => model.Quote.DrawerCount)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayName("Material")</th>
                    <td>@Html.DisplayFor(model => model.Quote.Material.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayName("Price")</th>
                    <td>$@Html.DisplayFor(model => model.Quote.Price)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
        <a asp-page="./Edit" asp-route-id="@Model.Quote?.Id" class="oval-button">Edit</a> |
        <a asp-page="./Index" class="oval-button">Back to List</a>

</div>
<style>
    .table-container {
        background-color: #F5F5DC;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
        border: groove;
    }

    .oval-button {
        display: inline-block;
        background-color: blue;
        color: white;
        padding: 8px 16px;
        border-radius: 20px;
        text-decoration: none;
        margin-right: 8px;
    }

        .oval-button:hover {
            color: #F5F5DC;
        }
</style>