@page "{searchString?}"
@model MegaDesk_Razor.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Quote Price
            </th>
            <th>
                Delivery
            </th>
            <th>
                Material
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quote)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.DeliveryType != null)
                    {
                        @Html.DisplayFor(modelItem => item.DeliveryType.Type)  
                    }
                </td>
                <td>
                    @if (item.Material != null)
                    {
                        @Html.DisplayFor(modelItem => item.Material.Name)
                    }
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>